.addBooks
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.formBox
{
    width: fit-content;
    margin: 10px;
}
#exampleFormControlInput1{
    width: 300px;
}