.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(247,243,237);
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Heading
{
  background-color: black;
  color:antiquewhite;
  top: 0px;
  left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  width: 100%;
}
.homePic
{
  width: 500px;
}
.nav{
  background-color: black;
  color: antiquewhite;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
}
.login
{
  margin: auto;
  width: 70%;
}
.hoverChange:hover
{
  font-weight: bold;
  padding: 1px;
}

.topCollection
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  width: 100%;
}
.topBooksImg{
  max-height:50%;
  flex-shrink: 1;
}
.Book {
  padding: 5px;
  margin: 2px;
  box-shadow: 1px 1px 1px 1px #ffffff94;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 380px;
  max-width: 250px;
  overflow: hidden;
}
.Book:hover {
  padding: 5px;
  margin: 2px;
  box-shadow: 1px 1px 1px 1px white;
  border-radius: 5px;
  max-width: 250px;
  height: 380px;
  color: #61dafb;
  background-color: #282c34;

}


.openNav
{
  z-index: 4;
  height: 8vmin;
  position: fixed;
  left:5px;
  top:5px;
}

.main
{
  width: 100%;
  display: flex;
  justify-content: center;
}
.carousel-container
{
  width:100%;
  background-color: black;
  z-index: 0;
  color: antiquewhite;
  padding: 5px;
  display: flex;
  justify-content: baseline;
}
.content
{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body
{
  display:flex;
  flex-direction: row;
}
.nav-head{
  padding:10px;
  padding-top: 60px;
  left: 10px;
  top: 10px;
}