.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(247,243,237);
  height: 100%;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Heading
{
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color:antiquewhite;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.homePic
{
  width: 500px;
}
.home{
  background-color: black;
  width:100vw;
  height:100vh;
  display:flex;
}
.nav{
  background-color: black;
  color: antiquewhite;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
}
.login
{
  width: 100%;
}
.loginBox
{
  margin: auto;
  width: 50%;

}
.hoverChange:hover
{
  font-weight: bold;
  padding: 1px;
}

.topCollection
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  width: 100%;
}
.topBooksImg{
  max-height:50%;  
}
.topBook {
  padding: 5px;
  box-shadow: 1px 1px 1px 1px #ffffff94;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 380px;
  overflow: hidden;
  max-width: 250px;
  min-width: 250px;
  flex-grow: 1;
}
.topBook:hover {
  padding: 5px;
  box-shadow: 1px 1px 1px 1px white;
  border-radius: 5px;
  height: 380px;
  color: #61dafb;
  background-color: #282c34;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 250px;
  flex-grow: 1;
}
.gridBook
{
  padding: 5px;
  margin: 2px; 
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  overflow: hidden;
  flex-shrink: 1;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
  height: fit-content;
  background-color: #282c34;
}

.gridBook > div
{
  position: absolute;
  z-index: 2;
  color: white;
}
.gridBooksImg{
  width: 200px; 
  border-radius: 5px;
}
.gridBooksImg:hover
{
  opacity: 0.5;
}


.openNav
{
  z-index: 10;
  height: 10vmin;
}

.main
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.carousel-container
{
  width:100%;
  background-color: black;
  z-index: 0;
  color: antiquewhite;
  padding: 5px;
  height: fit-content;
  max-width: none;;
}
.react-multi-carousel-track {
  width:100%;
  height: inherit;
}
.content
{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  height: inherit;
}
.body
{
  display:flex;
  flex-direction: row;
  overflow: visible;
  height: 100%;
  width: 100%;
}
.nav-head{
  padding:10px;
  padding-top: 60px;
  left: 10px;
  top: 10px;
  z-index: 2;
}

.grid
{
  display: flex;
  padding: 2px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.child1{
  border:black; 
  position:relative;
  left:260px;
  top:200px;
  width:310px;
  height:500px;
}

.child1-img{
   top: 50%;
  left: 50%;
  overflow: hidden;
  border-radius:50%;
  box-shadow: 0px 0px 25px #fff;
}

.child1-content{
  text-align: center;
  color:white;
  padding: 1px 1px;
}

.child2{
  background-color:rgb(34, 34, 34);
  border: 1px solid whitesmoke;
  border-radius: 5%;
  color:aliceblue;
  box-shadow: 100px;
  margin:2px;
  position: relative;
  left:350px;
  top:200px;
  width:785px;
  height:500px;
}

.child2-content{
  padding:10px;
}
.header{
  color:antiquewhite;
  position:fixed;
  font-size:40px;
  padding:30px 40px;
  position: left;
  text-shadow:0px 0px 14px rgb(255, 255, 255);
}