.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.App-logo {
  height: 8vmin;
  position: absolute;
  left: 2px;
  top: 18px;
  z-index: 3;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Heading
{
  background-color: black;
  color:antiquewhite;
  flex-grow: 1;
  width: 100vw;
  top: 0px;
  padding: 10px;
  position: fixed;
  top:0px;
}
.homePic
{
  width: 500px;
}
.nav{
  position: absolute;
  left: 0px;
  background-color: black;
  color: antiquewhite;
  padding: 20px;
  padding-top:40px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 5;
}
.navText {
  color: antiquewhite;
  text-decoration: none;
  padding: 5px;
  padding-left: 20px;
  z-index: 5;
}
.login
{
  margin: auto;
}
.hoverChange:hover
{
  font-weight: bold;
  padding: 1px;
}

.topCollection
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  width: 100%;
}
.topBooksImg{
  max-height:200px;
  height: 100px;
}
.Book {
  padding: 5px;
}


.main {
  width:700px;
  padding:10px;
}
.openNav
{
  width:50px;
  position:absolute;
  left: 3px;
  top:3px;
  z-index: 6;
}
.hide
{
  visibility: hidden;
}